@font-face {
    font-family: 'CustomFont1';
    src: url('fonts/84083fa0-6a9d-40f7-806f-63add8cde800.92ab5f87bef098c1046cea7ba1a185e7.woff2') format('woff2');
  }

@font-face {
    font-family: 'CustomFont2';
    src: url('fonts/ea7dcf5e-c101-46d3-a553-bb46f78ca7e4.5fd4ae7af7e8ee6b8c9c8f6e380525c6.woff2') format('woff2');
  }

@font-face {
    font-family: 'CustomFont3';
    src: url('fonts/medium.6b3922b30a82250a36276ac251398c3f.woff2') format('woff2');
  }
  

:root{
  --main-color: #000000;
  --bg: #FFFFFF;
  --border: .1rem solid rgba(255,255,255);
}

*{
  font-family: 'CustomFont3', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #FFFFFF;
  border-radius: 5rem;
}

body{
  background: var(--bg);
}

section{
  padding: 2rem 7%;
}

.header{
 background: var(--bg);
 display: flex;
 align-items: center;
 justify-content: space-between; 
 padding: 1.5rem 7%;
 border-bottom: var(--border);
 position: fixed;
 top: 0; left: 0; right: 0;
 z-index: 1000;
}

  h1 {
    font-family: 'CustomFont1', Arial, sans-serif;
  }

  h2 {
    font-family: 'CustomFont2', Arial, sans-serif;
  }

  body {
    font-family: 'CustomFont3', Arial, sans-serif;
  }

  .home h3{
    background-color: #e52e40;
    color: #FFFFFF;
    font-size: 3rem ;
    margin-left: 15px; padding: 10px;
    margin-right: 200px;
  }

  .home .content h2{
    background-color: #000000;
    color: #FFFFFF;
    font-size: 5rem ;
    padding: 5px 20px 5px 5px;
    font-weight: bold;
  }

  .home p{
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 5rem;
  font-weight: bold;
  }



  .header .logo img{
    height: 6rem;
  }

  .header .navbar a{
    	margin: 0 1rem;
      font-size: 1.6rem;
      color: #000000;
      font-weight: bold;
      padding: 0 60px 0 0;
  }

  .header .navbar a:hover{
    color: #1c1c1c;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    
  }

  .header .icons div{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
  }

  .header .icons div:hover{
    color: #1c1c1c;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
  }


  .icons {
    display: flex;
  }
  
  .icons a {
    margin-right: 10px;
  }
  
  .icons img {
    width: 20px;
    height: 20px;
  }

  #menu-btn{
    display: none;
  }

  /* media queries*/
  @media(max-width:991px){
    html{
      font-size: 55%;
    }

    .header{
      padding: 1.5rem 2rem;
    }

    section{
      padding: 2rem;
    }

    .home{
      background-position: left;
      justify-content: center;
      text-align: center;
    }

    .home .content h3{
      font-size: 4.5rem;
    }

    .home .content p{
      font-size: 1.5rem;
    }
    
  }

    @media(max-width:450px){
    html{
      font-size: 50%;
    }
  }

  @media(max-width:991px){
    #menu-btn{
      display: inline-block;
    }

    .header .navbar{
      position: absolute;
      top: 100%; right: -100%;
      background: #FFFFFF;
      width: 30rem;
      height: calc(100vh - 9.5rem);
    }

    .header .navbar a{
      display: block;
      margin: 1.5rem;
      padding: .5rem;
      font-size: 2rem;
    }
  }
 .home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/luchtfoto-lbsp-2020-rgv-18bits-1920x-q80.jpg) no-repeat;
  background-size: cover;
  background-position: center;
 }

 

 .whatOthersSay h1{
  text-align: center;
  color: #e52e40;
  padding: 50px;
  font-size: 1.1rem;
  font-weight: 900;
 }

 .news h1{
  text-align: center;
  color: #e52e40;
  padding: 50px;
  font-size: 1.1rem;
  font-weight: 900;
 }

 .tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.circle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.corner-image {
  position: absolute;
  width: 100px; /* Adjust the width and height as per your requirements */
  height: 100px;
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.tile h3{
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: -1px;
}

#para1{
  color: #e52e40;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.7rem;
}

#para2{
  color: #e52e40;
  font-size: 1rem;
  font-weight: 700;
}

.newsDiv{
  width: 50%;
  float: left;
  text-align: left;
  padding-left: 35rem;
  padding-bottom: 5rem;
  
}

.eventsDiv{
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 6rem;
  padding-right: 14rem;
  padding-bottom: 1rem;
  border-left: 1px solid #e52e40;
} 


ul {
  list-style-type: none;
  text-align: left;
  font-weight: 800;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

.spanHeader {
  font-weight: 800;
  font-size: 1.5rem;
}

.list-item {
  display: flex;
  align-items: center;
}

.calDiv {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}



.calendar-icon {
  margin-right: 10px;
}

.event-text {
  flex: 1;
}

.liDates{
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  margin-top: 5px;
  
}

#a1{
  color: #e52e40;
  font-size: 1rem;
  font-weight: 800;
}

.calendar-icon {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

